* {margin: 0px;
	padding: 0px;
	box-sizing: border-box;}

header {display: flex;
    width: 90%;
    margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: right;}

footer {display: flex;
    width: 90%;
    margin: auto;
	margin-top: 2%;}
	
.heading-text {display: flex;
	flex-direction: column;
	margin: auto;}

.heading-text h1 {padding-bottom: .2em;
	text-shadow: .4px .4px .4px #666;}

.heading-text h2 {padding-bottom: .2em;
	text-shadow: .4px .4px .4px #666;}

.heading-text h3 {padding-top: .2em;
	text-shadow: .4px .4px .4px #666;}
	
.logo-container {display: flex;}

.nav-links {display: flex;
	font-weight: bold;
	justify-content: center;
	font-size: 1.4em;
	text-shadow: .5px .5px .5px #666;}

.change-later {display: flex;
	justify-content: space-evenly;
	margin-top: 2%;}

.facts {margin-left: -2.5%;}

.change-later ul {list-style: none;
	margin-left: 2%;}

header h2 {font-style: italic;}

header h3 {font-style: italic;}

nav ul {list-style-type: none;
		padding-left: 0;}

nav a {padding: 10px;
		font-weight: bold;}

nav a:hover {color: #cc9933;}

nav a:link {color: #000000;}

nav a:visited {color: #003399;}

main li {padding-top: .5em;
		padding-bottom: .5em;
		font-size: 110%;}

main ul {height: auto;}

main h3 {font-size: 135%;
		text-decoration-line: underline;
		text-shadow: .5px .5px .5px #666;
		padding-left: .75em;
		margin-bottom: 0px;}

footer {text-align: center;}

header, nav, main, footer {display: block;}

table {width: 90%;
	vertical-align: middle;
	border-spacing: 0;}

td, th {padding: 10px;}

form {padding: 2em;}

label {float: left;
	display: block;
	text-align: center;
	width: 8em;
	padding-right: 1em;}

input, button, textarea {display: block;
				margin-bottom: 1em;
				margin-left: 11em;}

fieldset.checks input {
	float: left;
	clear: left;
	margin-right: 5px;
	margin-left: 5em;
	font-size: 18px;}

.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}

.iframe-container iframe {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 90%;
	height: 100%;
}

.iframe-container video {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

body {
	font-family :Arial;
}

/* #map {
	height: 400px;
	width: 100%;
}

#years {
	margin-bottom: 1em;
	margin-left: 1em;
}

#arrows {
	margin-bottom: 1em;
	margin-left: 1em;
}

#guess {
	margin-bottom: 1em;
	margin-left: 1em;
} */

